/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
      padding:0;
      display:inline-block;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 5px;
    }
     .image{
         position: absolute;
         left: 0;
         top: 0;
      }
      #dropdownMenuButton{
      	background-color: #3F88C5;
      	color:#ffffff;
      	}
        .logo{
         width: 75px;
         height:60px;
        }
    .topMenu{
    	background-color:white;
    }
    .SearchGarage{
    	height:50px;
    	padding:10px;
    	padding-bottom:0;
    }
    .SearchGarage input, select{
  		border-radius: 5px;
    }
    .searchGarage .buttonS{
    	background-color: #27D154;
    	color:white;
    	margin-right:0%;
    	width: 100px;
    }
    .sample{
    	display:inline-block;
    	height:80%;
    	width: 400px;
    	background-color:#EAEEEF;
    	margin-left:20px;
    }
    .sample .garages{
    	margin: auto;
    }